body
{
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;


}
.rrr h1
{
color:green ;
font-size: 45px;
}
.login label
{
color: brown;
}
.login input
{

color: red;

}
.login input

{
border: 2px solid violet;
}
.login p
{
color: navy;

}